[package]
name = "lightning"
version = "0.0.1"
authors = ["Matt Corallo"]
license = "Apache-2.0"
repository = "https://github.com/TheBlueMatt/rust-lightning/"
description = """
A Bitcoin Lightning implementation in Rust.
Still super-early code-dump quality and is missing large chunks. See README in git repo for suggested projects if you want to contribute. Don't have to bother telling you not to use this for anything serious, because you'd have to finish building it to even try.
"""

[features]
# Supports tracking channels with a non-bitcoin chain hashes. Currently enables all kinds of fun DoS attacks.
non_bitcoin_chain_hash_routing = []
fuzztarget = ["secp256k1/fuzztarget"]

[dependencies]
bitcoin = "0.12"
rust-crypto = "0.2"
rand = "0.4"
secp256k1 = "0.9"
