name: SemVer checks
on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - master

jobs:
  semver-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install Rust stable toolchain
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile=minimal --default-toolchain stable
          rustup override set stable
      - name: Install SemVer Checker
        run: cargo install cargo-semver-checks --locked
      - name: Check SemVer with all features
        run: cargo semver-checks
      - name: Check SemVer without any non-default features
        run: cargo semver-checks --only-explicit-features
